two-up {
  display: grid;
  position: relative;
  --split-point: 0;
  --accent-color: #777;
  --track-color: var(--accent-color);
  --thumb-background: #fff;
  --thumb-color: var(--accent-color);
}

two-up > * {
  /* Overlay all children on top of each other, and let
  two-up's layout contain all of them. */
  grid-area: 1/1;
}

two-up[legacy-clip-compat] > :not(.twoUpHandle) {
  position: absolute;
}

.twoUpHandle {
  touch-action: none;
  position: relative;
  width: 10px;
  background: var(--track-color);
  transform: translateX(var(--split-point)) translateX(-50%);
  box-shadow: inset 4px 0 0 rgba(0,0,0,0.1), 0 1px 4px rgba(0,0,0,0.4);
  will-change: transform;
  cursor: ew-resize;
}

.scrubber {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%);
  width: 62px;
  height: 56px;
  background: var(--thumb-background);
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  color: var(--thumb-color);
}
.scrubber svg {
  flex: 1;
  margin: 0 10px;
}

two-up[orientation='vertical'] .twoUpHandle {
  width: auto;
  height: 7px;
  transform: translateY(var(--split-point)) translateY(-50%);
  box-shadow: inset 0 3px 0 rgba(0,0,0,0.1), 0 1px 4px rgba(0,0,0,0.4);
  cursor: ns-resize;
}

two-up[orientation='vertical'] .scrubber {
  width: 46px;
  height: 40px;
  font-size: 18px;
  box-shadow: 1px 0 4px rgba(0,0,0,0.1);
  transform: translate(-50%, -50%) rotate(-90deg);
}

two-up > :nth-child(1):not(.twoUpHandle) {
  -webkit-clip-path: inset(0 calc(100% - var(--split-point)) 0 0);
  clip-path: inset(0 calc(100% - var(--split-point)) 0 0);
}

two-up > :nth-child(2):not(.twoUpHandle) {
  -webkit-clip-path: inset(0 0 0 var(--split-point));
  clip-path: inset(0 0 0 var(--split-point));
}

two-up[orientation='vertical'] > :nth-child(1):not(.twoUpHandle) {
  -webkit-clip-path: inset(0 0 calc(100% - var(--split-point)) 0);
  clip-path: inset(0 0 calc(100% - var(--split-point)) 0);
}

two-up[orientation='vertical'] > :nth-child(2):not(.twoUpHandle) {
  -webkit-clip-path: inset(var(--split-point) 0 0 0);
  clip-path: inset(var(--split-point) 0 0 0);
}

/*
  Even in legacy-clip-compat, prefer clip-path if it's supported.
  It performs way better in Safari.
 */
@supports not ((clip-path: inset(0 0 0 var(--split-point))) or (-webkit-clip-path: inset(0 0 0 var(--split-point)))) {
  two-up[legacy-clip-compat] > :nth-child(1):not(.twoUpHandle) {
    clip: rect(auto var(--split-point) auto auto);
  }

  two-up[legacy-clip-compat] > :nth-child(2):not(.twoUpHandle) {
    clip: rect(auto auto auto var(--split-point));
  }

  two-up[orientation='vertical'][legacy-clip-compat] > :nth-child(1):not(.twoUpHandle) {
    clip: rect(auto auto var(--split-point) auto);
  }

  two-up[orientation='vertical'][legacy-clip-compat] > :nth-child(2):not(.twoUpHandle) {
    clip: rect(var(--split-point) auto auto auto);
  }
}
