button, a, img, input, select, textarea {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a, button, img, [inert], .inert {
  user-select: none;
  -webkit-user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  touch-callout: none;
  -webkit-touch-callout: none;
}
