{
  "plugins": [
    "transform-class-properties",
    "transform-react-constant-elements",
    "transform-react-remove-prop-types",
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ]
}
