{
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "jsxPragma": "h"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "loose": true,
        "pragma": "h",
        "pragmaFrag": "Fragment"
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
