dialog {
  padding: 0;
  width: 70vw;
  max-width: 60ch;
  max-height: 70vh;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 20%);

  display: grid;
  grid-template-rows: auto 1fr auto;

  font-size: 1.5em;
  color: var(--light-gray);

  border: none;
  border-radius: 10px;
  overflow: hidden;

  background-color: var(--off-black);

  opacity: 0;
  transform: translateY(50px);
  transition: 250ms ease;

  /* backdrop can't be transitioned easily, so we must   */

  &::backdrop {
    background-color: rgba(0, 0, 0, 30%);
  }

  &[open]::backdrop {
    animation: backdrop-fade-in 250ms linear;

    @keyframes backdrop-fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  &.modal--closing::backdrop {
    transition: opacity 250ms linear;
    opacity: 0;
  }
}

dialog[open] {
  opacity: 1;
  transform: translateY(0px);
}

dialog.modal--closing {
  opacity: 0;
  transform: translateY(50px);
}

@media (max-width: 720px) {
  dialog {
    width: 90%;
    max-width: none;
    font-size: 1.25em;
  }
}

@media (max-width: 480px) {
  dialog {
    font-size: 1em;
  }
}

.header,
.footer {
  max-height: 100%;
  padding: 1em;

  background-color: var(--dark-gray);
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 8%);
  align-content: stretch;

  /* Apply font size only to children so that padding is unaffected */
  & > * {
    font-size: 1.5em;
  }
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 8%);
}

.modal-title {
  text-align: center;

  /* Overflowing text gets ellipse-d */
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

.modal-type-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.5;

  svg {
    font-size: 1em;
    height: 1em;
    width: 1em;
  }
}

.close-button {
  composes: unbutton from global;
  flex: 0 0 auto;
  height: 1em;
  width: 1em;
  background-color: var(--pink);
  border-radius: 5px;
  outline-color: var(
    --medium-light-gray
  ) !important; /* Overwrite default black outline */

  path {
    stroke: black;
  }

  /* Don't show focus ring on mobile */
  @media (min-width: 720px) {
    &:focus {
      outline-width: 2px;
      outline-style: solid;
      outline-offset: 2px;
    }
  }
}

.content-container {
  max-height: 60vh;
  overflow-y: auto;
}

.content {
  font-size: 1em;
  line-height: 1.5;

  padding: 0 1em;

  h1 {
    color: var(--white);
  }

  img {
    max-width: 100%;
    max-height: 500px;
  }

  figcaption {
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
  }

  a {
    &:link {
      color: var(--blue);
    }
    &:visited {
      color: var(--pink);
    }
  }

  pre,
  code {
    background-color: var(--black);
    padding: 2px 4px;
    border-radius: 3px;
  }

  pre {
    overflow-x: auto;
    padding: 1rem 2rem;
  }

  hr {
    border: none;
    border-bottom: 1px solid var(--dim-text);
  }
}
