.intro {
  composes: abs-fill from global;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  overscroll-behavior: contain;
  display: grid;
  grid-template-rows: 1fr max-content max-content;
  font-size: 1.2rem;
  color: var(--dark-text);
}

.blob-canvas {
  composes: abs-fill from global;
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.main {
  min-height: 70vh;
  display: grid;
  grid-template-rows: max-content max-content;
  justify-items: center;
  position: relative;
  --blob-pink: var(--hot-pink);
  --center-blob-opacity: 0.3;
}

.logo-container {
  margin: 8rem 0 1rem;
}

.logo {
  transform: translate(-1%, 0);
  width: 189px;
  height: auto;
}

.load-img {
  position: relative;
  color: var(--white);
  font-style: italic;
  font-size: 1.2rem;
}

.blob-svg {
  composes: abs-fill from global;
  width: 100%;
  height: 100%;
  fill: var(--blob-pink);

  & path {
    opacity: var(--center-blob-opacity);
  }
}

.load-img-content {
  position: relative;
  --size: 36rem;
  max-width: var(--size);
  height: var(--size);
  display: grid;
  grid-template-rows: max-content max-content;
  justify-items: center;
  align-content: center;
  gap: 0.7rem;
}

.load-btn {
  composes: unbutton from global;
}

.load-icon {
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  fill: var(--white);
  transform: translate(4.3%, -1%);
}

.paste-btn {
  composes: unbutton from global;
  text-decoration: underline;
  font: inherit;
  color: inherit;
}

.demos-container {
  position: relative;
  background: var(--deep-blue);
  padding-bottom: 5.2vw;
}

.top-wave {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
}

.main-wave {
  fill: var(--deep-blue);
}

.sub-wave {
  fill: var(--light-blue);
}

.footer {
  position: relative;
  background: var(--light-gray);
}

.footer-wave {
  fill: var(--light-gray);
}

.content-padding {
  padding: 2rem;
}

.footer-items {
  display: grid;
  justify-content: end;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  align-items: center;
  gap: 4rem;
}

.footer-link,
.footer-link-with-logo {
  text-decoration: none;
  color: inherit;
}

.footer-link-with-logo {
  display: grid;
  grid-template-columns: 1.8em max-content;
  align-items: center;
  gap: 0.6em;

  img {
    width: 100%;
    height: auto;
  }
}
