@import '~style/helpers.scss';
:global {
	@import '~preact-material-components/Fab/mdc-fab.scss';
}

.fab {
	position: fixed;
	right: 14px;
	bottom: 14px;
	z-index: 4;
	
	.progress {
		width: 24px;
		height: 24px;
		color: white;
		--mdc-theme-primary: #fff;
	}
}
