.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;

  user-select: none;
  pointer-events: none;
  opacity: 0;

  transition: opacity 250ms ease;
}

.modal-shown {
  user-select: auto;
  pointer-events: auto;

  opacity: 1;
}

.modal {
  width: 70vw;
  max-width: 60ch;
  max-height: 70vh;

  border: 4px solid black;

  display: grid;
  grid-template-rows: auto 1fr auto;

  font-size: 1.5em;

  border-radius: 10px;
  overflow: hidden;

  background-color: hsl(250deg, 100%, 90%);
}

@media (max-width: 720px) {
  .modal {
    width: 90%;
    max-width: none;
    font-size: 1.25em;
  }
}

@media (max-width: 480px) {
  .modal {
    font-size: 1em;
  }
}

.header,
.footer {
  max-height: 100%;
  padding: 1em;

  background-color: rgba(0, 0, 0, 6%);
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 8%);

  & > * {
    height: 100%;
    font-size: 1.5em;
  }
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 8%);
}

.modal-title {
  text-align: center;

  /* Overflowing text gets ellipse-d */
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

.modal-type-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.5;

  svg {
    font-size: 1em;
    height: 1em;
    width: 1em;
  }
}

.close-button {
  composes: unbutton from global;
  flex: 0 0 auto;
  height: 1em;
  width: 1em;
  background-color: rgb(255, 105, 118);
  border-radius: 5px;

  path {
    stroke: black;
  }

  /* Don't show focus ring on mobile */
  @media (min-width: 720px) {
    &:focus {
      outline-width: 2px;
      outline-style: solid;
      outline-offset: 2px;
    }
  }
}

.content-container {
  max-height: 60vh;
  overflow-y: auto;
}

.content {
  font-size: 1em;
  line-height: 1.5;

  padding: 0 1em;

  img {
    max-width: 100%;
    max-height: 500px;
  }

  figcaption {
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
  }

  a {
    &:link {
      color: hsl(220, 100%, 50%);
    }
    &:visited {
      color: rgb(255, 0, 103);
    }
  }

  pre,
  code {
    background-color: rgba(0, 0, 0, 10%);
    padding: 2px 4px;
    border-radius: 3px;
  }

  pre {
    overflow-x: auto;
  }
}
