.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(5px);
  z-index: 1;

  user-select: none;
  pointer-events: none;
  opacity: 0;

  transition: opacity 250ms ease;
}

.modal-shown {
  user-select: auto;
  pointer-events: auto;

  opacity: 1;
}

.modal-overlay > * {
  box-sizing: border-box;
}

.modal {
  width: 70vw;
  max-width: 60ch;
  max-height: 70vh;

  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);

  display: grid;
  grid-template-rows: auto 1fr auto;

  font-size: 1.5em;
  color: white;

  border-radius: 10px;
  overflow: hidden;

  background-color: rgb(40, 40, 40);
}

.header,
.footer {
  max-height: 100%;
  padding: 1em;

  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  font-weight: 700;
}

.modal-title {
  font-size: 1.5em;
  display: flex;
  align-items: center;

  svg {
    font-size: 1em;
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
  }
}

.content-container {
  max-height: 60vh;
  overflow-y: auto;
}

.content {
  font-size: 1em;

  padding: 0 1em;
}
