%fill {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  contain: strict;
}

.output {
  @extend %fill;

  > two-up {
    @extend %fill;

    > pinch-zoom {
      @extend %fill;
    }
  }
}

.outputCanvas {
  image-rendering: pixelated;
}
