@import '~style/helpers.scss';

.app {
	position: absolute;
	top: $toolbar-height;
	left: 0;
	width: 100%;
	bottom: 0;
	contain: size layout style;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	> .content {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: visible;
	}
}
