@import '~style/helpers.scss';

// :global {
//   @import '~preact-material-components/Button/mdc-button.scss';
//   // @import '~preact-material-components/Switch/mdc-switch.scss';
// }

.home {
  padding: 20px;
}

.image {
  width: 100%;
}

.content {
  max-width: 600px;
  margin: 50px auto 0;
  font-size: 120%;
  text-align: center;
}
