@import '~style/helpers.scss';

:global {
  // @import '~preact-material-components/Drawer/style.css';
  @import '~preact-material-components/List/mdc-list.scss';
}

.drawer {
  :global(.mdc-list-item__start-detail) {
    margin-right: 16px;
  }
}

.logo {
  width: 50%;
}

.category img {
  opacity: .6;
}

.bottom {
  position: absolute;
  bottom: 0;
  bottom: constant(safe-area-inset-bottom);
  bottom: env(safe-area-inset-bottom);
  left: 0;
  width: 100%;
}
