/*
Note: These styles are temporary. They will be replaced before going live.
*/

@import './reset.scss';

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font: 14px/1.3 Roboto,'Helvetica Neue',arial,helvetica,sans-serif;
  overflow: hidden;
  overscroll-behavior: none;
  contain: strict;
}
