.welcome {
  margin: auto;
  text-align: center;

  h1 {
    font-weight: inherit;
    font-size: 150%;
    text-align: center;
  }

  input {
    display: inline-block;
    width: 16em;
    padding: 10px;
    margin: 0 auto;
    -webkit-appearance: none;
    border: 1px solid var(--button-fg);
    background: rgba(var(--button-fg-color), 0.1);
    border-radius: 3px;
    cursor: pointer;
  }
}
