.options {
    width: 180px;
    padding: 10px;
    background: rgba(50,50,50,0.8);
    border: 1px solid #222;
    box-shadow: inset 0 0 1px #fff, 0 0 1px #fff;
    border-radius: 3px;
    color: #eee;
    overflow: auto;
    z-index: 1;
    transition: opacity 300ms ease;

    &:not(:hover) {
        opacity: .6;
    }

    label {
        display: block;
        padding: 5px;
        font-weight: bold;

        select {
            margin-left: 5px;
        }

        input {
            vertical-align: middle;
        }
    }

    pre {
        font-size: 10px;
    }
}