/*
Note: These styles are temporary. They will be replaced before going live.
*/

.options {
    width: 180px;
    padding: 10px;
    background: rgba(50,50,50,0.8);
    border: 1px solid #222;
    box-shadow: inset 0 0 1px #fff, 0 0 1px #fff;
    border-radius: 3px;
    color: #eee;
    overflow: auto;
    z-index: 1;
    transition: opacity 300ms ease;

    &:not(:hover) {
        opacity: .6;
    }

    label {
        display: block;
        padding: 5px;
        font-weight: bold;

        select {
            margin-left: 5px;
        }

        input {
            vertical-align: middle;
        }
    }
  .title {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 0 0 12px;
    background: rgba(0,0,0,0.9);
    font: inherit;

    .download {
      flex: 0;
      margin: 0 0 0 auto;
      background: rgba(0,0,0,0.7);
      border-radius: 50%;
      padding: 5px;
      width: 16px;
      height: 16px;
      text-decoration: none;

      > svg {
        width: 16px;
        height: 16px;
        fill: #fff;
      }

      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
  }


  .size-details {
    padding: 5px 15px;
    background: rgba(0,0,0,0.5);
  }

    pre {
        font-size: 10px;
    }
}
