$horizontalPadding: 15px;

.options {
  color: #fff;
  width: 300px;
  opacity: 0.8;
  font-size: 1.2rem;
}

.options-title {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 10px $horizontalPadding;
  font-weight: normal;
  font-size: 1.4rem;
  border-bottom: 1px solid #000;
}

.option-text-first {
  display: grid;
  grid-template-columns: 87px 1fr;
  grid-gap: 0.7em;
  padding: 10px $horizontalPadding;
}

.option-input-first,
.section-enabler {
  cursor: pointer;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-gap: 0.7em;
  padding: 10px $horizontalPadding;
}

.section-enabler {
  background: rgba(0, 0, 0, 0.8);
}

.options-section {
  background: rgba(0, 0, 0, 0.7);
}


