.compress {
  width: 100%;
  height: 100%;
  contain: strict;
  display: grid;
  align-items: end;
  align-content: end;
  grid-template-rows: 1fr auto;

  @media (min-width: 600px) {
    grid-template-columns: 1fr auto;
    grid-template-rows: calc(100% - 75px);
  }

  @media (min-width: 860px) {
    grid-template-rows: 100%;
  }
}

.options {
  color: #fff;
  opacity: 0.9;
  font-size: 1.2rem;
  max-height: 100%;
  display: flex;
  flex-flow: column;
  max-width: 400px;
  margin: 0 auto;
  width: calc(100% - 60px);

  @media (min-width: 600px) {
    width: 300px;
    margin: 0;
  }
}

.multi-panel {
  position: relative;
}
