:global {
  .abs-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    contain: strict;
  }

  .unbutton {
    cursor: pointer;
    background: none;
    border: none;
    font: inherit;
    padding: 0;
    margin: 0;

    &:focus {
      outline: none;
    }
  }
}
