.intro {
  composes: abs-fill from '../util.css';
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  overscroll-behavior: contain;
}

.hide {
  display: none;
}

.main {
  min-height: 50vh;
  display: grid;
  grid-template-rows: max-content max-content;
  justify-items: center;
  align-content: center;
}

.logo {
  font-weight: bold;
  font-size: 3rem;
  margin: 4rem 0;
}

.load-img {
  background: var(--pink);
  color: var(--white);
  font-style: italic;
  font-size: 1.2rem;
  --size: 23rem;
  border-radius: var(--size);
}

.load-img-content {
  width: var(--size);
  height: var(--size);
  display: grid;
  grid-template-rows: max-content max-content;
  justify-items: center;
  align-content: center;
  gap: 0.7rem;
}

.load-btn {
  composes: unbutton from '../util.css';
}

.load-icon {
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  fill: var(--white);
  transform: translate(4.3%, -1%);
}

.paste-btn {
  composes: unbutton from '../util.css';
  text-decoration: underline;
  font: inherit;
  color: inherit;
}
